redis
contextlib2
mock
pyjnius
importlib-metadata
docutils
sphinx
ctags
Pillow
regex
jinja2
cryptography
pyOpenSSL
ipython
ipywidgets
attrs
tornado
google
ntlm-auth
pyparsing
numpy
typing-extensions
Cython
packaging
wheel
